services:
  contiwatch:
    image: ghcr.io/pbuzdygan/contiwatch:latest
    container_name: contiwatch
    ports:
      - "8080:8080"
    volumes:
      - /var/run/docker.sock:/var/run/docker.sock
      - contiwatch_data:/data
    environment:
      # Default internal port can be changed - helpful when running in "network_mode: host" or other "direct IP" setups
      CONTIWATCH_ADDR: ":8080"
      CONTIWATCH_CONFIG: "/data/config.json"
      TZ: Europe/Warsaw
    restart: unless-stopped

volumes:
  contiwatch_data:
