services:
  contiwatch:
    image: ghcr.io/pbuzdygan/contiwatch:dev_latest
    container_name: contiwatch
    ports:
      - "8017:8080"
    volumes:
      - /var/run/docker.sock:/var/run/docker.sock
      - /data:/data
    environment:
      CONTIWATCH_ADDR: ":8080"
      CONTIWATCH_CONFIG: "/data/config.json"
      PUID: ""
      PGID: ""
      TZ: Europe/Warsaw
      # Optional: if contiwatch can't infer it from /var/run/docker.sock
      # DOCKER_GID: "998"
    restart: unless-stopped

